<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Noddy Framework</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">

<form action = "/login" method = "POST">
    <input name="email" type="email" required/>
    <input name="password" type="password" required/>
    <button class="btn btn-primary">Login</button>
</form>

</div>
</body>
</html>
