<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Noddy Framework</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <br>
    <br>
    <div class = "row">
        <div class = "col-md-12 text-center">
            <img class="center-block" src="/assets/img/logo.gif" />
            <h3>Noddy says ..</h3>
            <br>
            <p>
            <div class="btn-group btn-group-lg" role="group" >
                <a type="button" href="/login" class="btn btn-success">Login</a>
                <a type="button" href="/register" class="btn btn-primary">Register</a>
            </div>
            </p>
            <blockquote>
                <p>{{quote}}</p>
            </blockquote>
            <small><em>{{person}}</em></small>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
</body>
</html>