{{>../layouts/master-top}}

        <h1> Users </h1>

        <table class = "table table-striped">
            <tr>
                <th>Name</th><th>Email</th>
            </tr>
            {{#.}}
                <tr>
                    <td><a href = "/users/{{id}}">{{name}}</a></td><td>{{email}}</td>
                </tr>
            {{/.}}
        </table>

{{>../layouts/master-bottom}}
