{{>../layouts/master-top}}

<div class="container-fluid">
    <h1>Profile</h1>
    <div class = "row">
        <div class = "col-md-2">
            <h4>Name</h4>
        </div>
        <div class = "col-md-10">
            <h4><small>{{name}}</small></h4>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class = "row">
        <div class = "col-md-2">
            <h4>Email</h4>
        </div>
        <div class = "col-md-10">
            <h4><small><a href="mailto:{{email}}">{{email}}</a></small></h4>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



{{>../layouts/master-bottom}}